.left {
    width: 672px;
    height: 928px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    border-radius: 24px;
    padding-top: 64px;
    padding-right: 80px;
    padding-bottom: 64px;
    padding-left: 80px;
    background-color: white;
}

.right {
    width: 720px;
    height: 928px;
    gap: 8px;
    border-radius: 24px;
    background-color: blue;
    padding-left: 96px;
    padding-right: 96px;
}