.user-management-head {
    box-shadow: 6px 6px 12px 0px #0000000F;
}

.checkbox-input {
    /* Also, Things should be responsive till tab screen */
    appearance: none;
    border-radius: 4px;
    height:16px;
    width:16px;
    border:1px solid #5A6472;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

@keyframes moveImage {
    0% {background-position: center;}
    100% {background-position: center;}
}

.checkbox-input:checked {
    background-color: #408DFF;
    border:transparent;
    background-image: url("../assets/UserManagement/Check.svg");
    background-position: center;
    background-repeat: no-repeat;
    animation: moveImage 0.1s ease-in-out forwards;
}

.user-table-wrapper {
    box-shadow: 6px 6px 12px 0px rgba(0, 0, 0, 0.06);
}

.checkbox-input2 {
    /* Also, Things should be responsive till tab screen */
    appearance: none;
    border-radius: 4px;
    height:16px;
    width:16px;
    border:1px solid #5A6472;
    cursor: pointer;
    /* transition: all 250ms ease-in-out; */
}

.checkbox-input2:checked {
    background-color: #408DFF;
    border:transparent;
    background-image: url("../assets/UserManagement/Check.svg");
    background-position: center;
    background-repeat: no-repeat;
    animation: moveImage 0.1s ease-in-out forwards;
}

/* .custom-scrollbar::-webkit-scrollbar {
    width: 6px !important;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #DEE0E3 !important;
    border-radius: 16px !important;
} */

.custom-menu {
    box-shadow: 34px 31px 46px 0px #00000017;
}